# Operating System Files

*.DS_Store
Thumbs.db
*~
.#*
#*
*#

# Build Files #

**/bin
**/target
**/build/
**/.gradle

# Eclipse Project Files #

.classpath
.project
.settings
.factorypath
.mvn
mvnw
mvnw.cmd

# IntelliJ IDEA Files #

**/*.iml
**/*.ipr
**/*.iws
**/.idea

**/logs

# vscode
.vscode/settings.json